canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: #000000;
}

header {
  grid-column: 2 / span 5;
}

section {
  grid-column: 2 / 8;
}
.backgroundColour {
  background-color: rgb(255,255,255,0.3);
  padding: 0px 20px;
  border-radius: 20px;
  margin: 20px 0px;
}
.hidden {
  display: none;
}